<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>

    <script type="text/javascript" src="/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-table.min.css"/>

    <!--<script th:inline="text">-->
    	<!--var springProfiles = "[[${springProfiles}]]";-->
    <!--</script>-->
    <!---->
    <!--<script>-->
    	<!--var isOnlyRunJava = false;-->
    	<!--var publicServerDomain = "price.yunshanmeicai.com";-->

        <!--if(parent.window.frames.length>0){-->
          <!---->
        <!--}else{-->
            <!--isOnlyRunJava = true;-->
        <!--}        -->
    	    	<!---->
    	<!--if(springProfiles=="test"){-->
    		<!--publicServerDomain = "price.test.yunshanmeicai.com";-->
    	<!--}else if(springProfiles=="test2"){-->
            <!--publicServerDomain = "price.test2.yunshanmeicai.com";-->
        <!--}else if(springProfiles=="stage"){-->
    		<!--publicServerDomain = "price.stage.yunshanmeicai.com";-->
    	<!--}else{-->
    		<!--publicServerDomain = "price.yunshanmeicai.com";-->
    	<!--}   	-->
    	<!--var publicServerUrlPrefix = location.protocol + "//" + publicServerDomain ; -->
    <!--</script>-->

</head>