<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head">
</head>

<body>
<div style="margin:30px;">
    <form action="/shares/paihangShow" method="post">
        <select id="recentDaysSelect" name="recentDays">
            <option th:value="1">最近1天</option>
            <option th:value="2">最近2天</option>
            <option th:value="3">最近3天</option>
            <option th:value="5">最近5天</option>
            <option th:value="10">最近10天</option>
            <option th:value="15">最近15天</option>
            <option th:value="20">最近20天</option>
            <option th:value="25">最近25天</option>
        </select>
        <select id="paihangRowsSelect" name="paihangRows">
            <option th:value="5">每日排名前5</option>
            <option th:value="10">每日排名前10</option>
            <option th:value="15">每日排名前15</option>
            <option th:value="20">每日排名前20</option>
            <option th:value="30">每日排名前30</option>
            <option th:value="50">每日排名前50</option>
            <option th:value="100">每日排名前100</option>
        </select>
        <input type="submit" value="查看"></input>
        <div>
            <label>最近N天，每天排名前M的概念。这些概念最近30天的排名情况</label>
            <label>默认查询条件：最近交易日前十排行</label>
        </div>
    </form>
</div>
<div class="myChartClass" th:each="paihangData:${allHangYeDataList}"
     style="width:500px;height:400px;float:left;margin-right:30px;" >
    <canvas th:id="${paihangData.hangye}"></canvas>
    <span th:text="${paihangData.shareNameList}"></span>
</div>
<script th:inline="javascript">
    //
    $(function(){
        $("#recentDaysSelect").val([[${recentDaysIndex}]]).trigger("change");
        $("#paihangRowsSelect").val([[${paihangRowsIndex}]]).trigger("change");
    });

    var allAmount = Array.from([[${allHangYeDataList}]]);
    for(var aHangYeIndex in allAmount){
        var aHangYe = allAmount[aHangYeIndex];
        var nowOne = aHangYe.everyDaySortData;
        var labels = new Array();
        var datas = new Array();
        var hangyeName = aHangYe.hangye;
        for(var nowOneDaysIndex in nowOne){
            labels.push(nowOne[nowOneDaysIndex].dayIndex);
            datas.push(-1 * nowOne[nowOneDaysIndex].paihangIndex);
        }
        var red = 255 - aHangYeIndex * 10;
        var ctx = document.getElementById(aHangYe.hangye).getContext('2d');
        var data = {
            labels: labels,
            datasets: [{
                label: hangyeName,
                data: datas,
                backgroundColor: [
                    'rgba(' + red + ', 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(' + red + ', 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        };
        var myBarChart = new Chart(ctx, {
            type: 'line',
            data: data
        });
    }





</script>
</body>
</html>